
li.dev-item {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0  14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}


li.dev-item header .user-info {
    margin-left: 10px;
    flex: 1;
}

.user-info strong {
    display: block;
    font-size: 16px;
    color: #333;
}

.user-info span {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}

li.dev-item p { 
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
li.dev-item a { 
    color: #8d48ff;
    font-size: 14px;
    text-decoration: none;
}

li.dev-item a:hover {
    color: #5e2ea6;
}

li.dev-item button.dev-delete {
    border: 0;
    width: 25px;
    height: 25px;
    line-height: 1em;
    background-color: transparent;
    color: #7d40e7;
    align-self: flex-start;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.5s;
}

li.dev-item button.dev-delete:hover {
    background-color: #7d40e7;
    color: #fff;
}